/* Chat.module.css */
.chatContainer {
  @apply flex flex-col bg-slate-500 relative;
}

.chatMessages {
  @apply flex flex-col;
  font-size: 25px;
  max-height: 80vh;
  overflow-y: auto;
}

.chatInput {
  @apply flex w-full bg-gray-200 p-2;
  font-size: 25px;
}

.dots {
  @apply w-2 h-2 rounded-full bg-green-500 p-2;
  animation: jump 2s infinite;
}

.dot1 {
  animation-delay: 200ms;
}

.dot2 {
  animation-delay: 400ms;
}

.dot3 {
  animation-delay: 600ms;
}

@keyframes jump {
  0% {
    bottom: 0px;
  }
  20% {
    bottom: 5px;
  }
  40% {
    bottom: 0px;
  }
}

.response {
  @apply flex w-full items-center justify-start bg-slate-500 p-10 text-white;
}

.userMessage {
  @apply flex w-full items-center justify-end bg-slate-900 p-10 text-white;
}

.input {
  @apply flex-1 rounded-full bg-white px-4 py-2;
}

.sendButton {
  @apply rounded-xl bg-green-400 p-4 mx-5;
}
